.container {
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
}

p {
	line-height: 1.4;
}

.resize {
	width: 100%;
	height: auto;
	display: block;
}

// Project snippet
.section-snippets {
	background-color: #eee;
	height: 100vh;
	overflow: hidden;
	cursor: grab;
}

.col {
  padding-left: 20px;
  padding-right: 20px;
}

.title-desc {
  text-transform: uppercase;
  font-size: 1rem;
}

.desc {
  font-size: 1.2rem;
  padding-left: .5rem;

  li {
  	margin-bottom: 0.7rem;
  }
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.level-2-title {
	display: inline-block;
	margin-bottom: 0.7rem;
}

.level-2 {
	padding-left: 2rem;
}

// Transition class
.scroll-fade {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;

	&_over {
		opacity: 1;
	}
}

// About

